.footer {
  padding: rem(8) 0;
  margin-top: rem(4);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__link {
    display: flex;
    flex-direction: column;
    row-gap: rem(4);
    width: rem(48);
    align-items: center;

    &:hover {
      .footer__icon {
        color: $grayDarkColor;
      }
      .footer__text {
        color: $grayDarkColor;
      }
    }

    &:active {
      .footer__icon {
        color: $mainColor;
      }
      .footer__text {
        color: $mainColor;
      }
    }

    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__text {
    color: $mainColor;
  }

  &__icon {
    color: $mainColor;
    width: rem(48);
    height: rem(48);
  }
}
